<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors List</title>
</head>

<body>
    <h1>Authors List</h1>
    <%- include('partials/header') %>
        <br>
        <table border="1">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </thead>
            <% authors.forEach(function(author){ %>
                <tr>
                    <td>
                        <%= author.id %>
                    </td>
                    <td>
                        <%= author.name %>
                    </td>
                    <td>
                        <%= author.age %>
                    </td>
                    <td>
                        <%= author.gender %>
                    </td>
                </tr>
            <% }) %>
        </table>
        <br>
        <a href="/authors/add">Add Authors</a>
</body>

</html>