<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>No.</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Author</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% book.forEach(function(book) {
            <td></td>
            <td><%= book.Title %></td>
            <td><%= book.ISBN %</td>
            <td><%= book.Stock %</td>
            <td><%= book.Price %></td>
            <td><%= book.Author %></td>
            <td><%= book.Action %></td>
            }) %>
        </tbody>
    </table>
</body>
</html>